.CharacterDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CharacterDetail .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CharacterDetail .basicStats {
    display:flex;
    padding: 0px 10px 0px 10px;
    flex-direction: column;
    width: 50%;
    height: 500px;
    justify-content: flex-start;

}

.CharacterDetail .statBar {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

.CharacterDetail .information {
    display: flex;
    flex-direction: column;
}

.CharacterDetail .editButton {
    background-image: none;
    width: fit-content;
    height: fit-content;
}

.CharacterDetail .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url("/smpaper.jpg");
    box-shadow: 0px 4px 5px rgba(0, 0, 0);
    border-radius: 20px;
}

.CharacterDetail .abilityScoreBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(107, 45, 45);
    box-shadow: inset 3px 4px 1px rgba(20, 5, 5, 0.72);
    border-radius: 20px;
    padding: 0 10px 0 10px;
    justify-content: space-evenly;
    margin-top: auto;
}

.CharacterDetail .advancedStats {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.CharacterDetail .tableContainer {
    width: 100%;
    height: 250px;
}

.CharacterDetail th {
    width: 50px;
}

.CharacterDetail .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
}

.CharacterDetail .description > p {
    background-color: beige;
    border-radius: 20px;
    box-shadow: inset 3px 4px 1px rgba(20, 5, 5, 0.72);
    width: 100%;
    height: 100%;
    color: rgb(32,32,32);
    padding: 20px;
}
