@import "tailwindcss";

.InfoCard {
    background-image: url('./wood.png');
    background-size: 100rem;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0);
}