@import "tailwindcss";

h1, h2, h3, p, label, th, input, select, option, a  {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, label, th, p, input, a{
  color: aliceblue;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

a, .links Link{
  font-size: 20px;
  padding: 10px;
  transition: ease 0.3s;
  border-radius: 10px;
}

a:hover, .links Link:hover {
  color: rgb(110, 60, 37);
  box-shadow: inset 0px 4px 1px rgba(42, 17, 17, 0.72);
}

tr {
  display: flex;
  justify-content: space-around;
}

th {
  width: 100px;;
}

thead, tbody {
  width: 100%;
}

label {
  margin-top: 10px;
  text-align: center;
}

.text {
  background-color: beige;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: inset 0px 4px 1px rgb(148 55 55 / 72%);
}

.select {
  background-color: beige;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: inset 0px 4px 1px rgb(148 55 55 / 72%);
}

.range::-webkit-slider-runnable-track {
  background: beige;
  height: auto;
  box-shadow: inset 0px 4px 1px rgb(148 55 55 / 72%);
  border-radius: 10px;
}

.range {
  accent-color: rgb(36, 36, 36);;
}

.number {
  width: 80px;
  height: 80px;
  font-size: 30px;
  text-align: center;
  background-color: beige;
  color: rgb(36, 36, 36);
  box-shadow: inset 0px 4px 1px rgb(148 55 55 / 72%);
  border-radius: 20px;
}
